.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(19, 19, 20, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 177, 196, 0.1);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
}

.brand {
  color: #ffb1c4;
  font-weight: 900;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(255, 177, 196, 0.4);
}

.nav {
  display: flex;
  gap: 2rem; /* Esto separa los links */
}

.navLink {
  color: #e0e0e0;
  text-decoration: none;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink {
  color: #e0e0e0;
  text-decoration: none;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLinkActive {
  color: #00e0e0; /* El cian */
  text-shadow: 0 0 10px #00e0e0;
  border-bottom: 2px solid #00e0e0;
  padding-bottom: 4px;
}

.navLink:hover {
  color: #ffb1c4;
}

.btnPrimary {
  padding: 0.75rem 1.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background: linear-gradient(135deg, #ffb1c4, #ff8da6);
  color: #3f001a;
  box-shadow: 0 0 15px rgba(255, 177, 196, 0.4);
}

.btnPrimary:hover {
  box-shadow: 0 0 25px rgba(255, 177, 196, 0.8);
}